<div class="main-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <ngx-alerts></ngx-alerts>
      <div class="container-fluid">
        <div class="row"   >
              <div class="card col-md-12">
                <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                <!-- <div class="content"> -->
          
                        <div class="form-group col-md-12">
                              <legend>         
                                Company ID: {{ getCompanyForm.comId.value }}
                              </legend>
                            <div class="row">
                              <div class="form-group col-md-3">
                                <label class="control-label" for="">Company Name: <span class="star">*</span> </label>
                                <input type="text" placeholder="Company Name" formControlName="comName"  class="form-control" >
                                <small [hidden]="companyForm.controls.comName.valid || companyForm.controls.comName.pristine" class="text-danger">
                                      Company Name is required.
                                </small>
                              </div>
                              <div class="form-group col-md-3">
                                <!-- <label class="control-label" for="">Code: <span class="star">*</span> </label>
                                <input type="text" placeholder="Company Code" formControlName="comCode"  class="form-control" >
                                <small [hidden]="companyForm.controls.comCode.valid || companyForm.controls.comCode.pristine" class="text-danger">
                                      Company Code is required.
                                </small> -->
                              </div>
                       
                            </div>
                            <div class="footer">
                        
                                    <button type="submit" class="btn btn-primary pe-7s-diskette" (click)="setStatus('Add')" *ngIf="getCompanyForm.comId.value == 0" [disabled]="companyForm.status == 'INVALID' "> Add </button> <!--  [disabled]="companyForm.status == 'INVALID' " -->
                                    <button type="submit" class="btn btn-primary pe-7s-diskette" (click)="setStatus('Save')" *ngIf="getCompanyForm.comId.value > 0" [disabled]="companyForm.status == 'INVALID' "> Save </button> <!--*ngIf="getCompanyForm.comId.value > 0" [disabled]="companyForm.status == 'INVALID' "-->
                                    <button type="button" (click)="onCancel()" class="btn btn-primary pull-right" > Cancel </button>
                            </div>
                        </div>
          
                <!-- </div> -->
              </form>
        
              </div>
        </div>
        <div class="row" >
             <div class="card">
                    <div class="content">
                      <h4 class="title">Companys List</h4>
                    </div>
                      <div class="fresh-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <!-- Table Headers -->
                        <thead>
                              <tr>
                                <th >
                                  ID 
                                </th>
                                <th >
                                  Company Name 
                                </th>
                                <th >
                                  Code
                                </th>
                                <th >
                                  Actions 
                                </th>
                              </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody  >
                              <tr  *ngFor="let row of Companys">
                                <td>{{ row?.comId }}</td>
                                <td>{{ row?.comName }}</td>
                                <td>{{ row?.comCode }}</td>
                                <td>
                                  <a (click)="onEditCompany(row)" class="btn btn-simple btn-warning btn-icon edit"><i class="fa fa-edit"></i></a>
                                  <a (click)="onDeleteCompany(row)" class="btn btn-simple btn-danger btn-icon remove "><i class="fa fa-times"></i></a> </td>
                              </tr>
                        </tbody>
                        </table>
                      </div>
              </div>
 
        </div>
      </div>
</div>
