<div class="main-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <ngx-alerts></ngx-alerts>
      <div class="container-fluid">
        <div class="row"   >
              <div class="card col-md-12">
                <form [formGroup]="SupplierForm" (ngSubmit)="onSubmit()">
                        <div class="form-group col-md-12">
                              <legend>         
                                Supplier ID: {{ getSupplierForm.splId.value }}
                              </legend>
                            <div class="row">
                              <div class="form-group col-md-3">
                                <label class="control-label" for="">Supplier Name: <span class="star">*</span> </label>
                                <input type="text" placeholder="Supplier Name" formControlName="splName"  class="form-control" >
                                <small [hidden]="SupplierForm.controls.splName.valid || SupplierForm.controls.splName.pristine" class="text-danger">
                                      Supplier Name is required.
                                </small>
                              </div>
                            </div>
                            <div class="footer">
                                    <button type="submit" class="btn btn-primary pe-7s-diskette"  *ngIf="getSupplierForm.splId.value == null" [disabled]="SupplierForm.status == 'INVALID' "> Add </button> <!--  [disabled]="SupplierForm.status == 'INVALID' " -->
                                    <button type="submit" class="btn btn-primary pe-7s-diskette"  *ngIf="getSupplierForm.splId.value != null" [disabled]="SupplierForm.status == 'INVALID' "> Save </button> <!--*ngIf="getSupplierForm.splId.value > 0" [disabled]="SupplierForm.status == 'INVALID' "-->
                                    <button type="button" (click)="onCancel()" class="btn btn-primary pull-right" > Cancel </button>
                            </div>
                        </div>
              </form>     
              </div>
        </div>
        <div class="row" >
             <div class="card">
                    <div class="content">
                      <h4 class="title">Suppliers List</h4>
                    </div>
                      <div class="fresh-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                              <tr>
                                <th >
                                  ID 
                                </th>
                                <th >
                                  Supplier Name 
                                </th>
                                <th >
                                  Actions 
                                </th>
                              </tr>
                        </thead>
                        <tbody  >
                              <tr  *ngFor="let row of Suppliers; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ row?.splName }}</td>
                                <td>
                                  <a (click)="onEditSupplier(row)" class="btn btn-simple btn-warning btn-icon edit"><i class="fa fa-edit"></i></a>
                                  <a (click)="onDeleteSupplier(row)" class="btn btn-simple btn-danger btn-icon remove "><i class="fa fa-times"></i></a> </td>
                              </tr>
                        </tbody>
                        </table>
                      </div>
              </div>
 
        </div>
      </div>
</div>