<div class="main-content">
    <ngx-alerts></ngx-alerts>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <ngx-alerts></ngx-alerts>
    <div class="container-fluid">
               <div class="row card col-md-12" >
                <div class="content">
                <br>
                <h4 class="title">Company Directory</h4>
                          <!-- Toolbar -->
                          <form novalidate [formGroup]="searchForm"> 
                            <div class="card col-md-12 toolbarCard" >
                              <div class=" col-md-12">
                                <div class=" col-md-4" > 
                                  <i class="pe-7s-refresh-2 toolbarIcon" (click)="onGetAllEmployees()" ></i>   
                                  <i class="pe-7s-cloud-download toolbarIcon"  (click)="onExportExcel()"  ></i>  
                               </div>
                                <div class=" col-md-2">
                                  <select id="PerPage" (change)="onChangeRowsPerPage($event)" class="marginsDropdownList form-control" value="5">
                                    <option value="5">Rows</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                         
                                    </select> 
                                </div>
                                <div class=" col-md-6 marginsPaging" >
                                  <pagination-controls  (pageChange)="pageIndex = $event" > </pagination-controls>
                                </div>
                                <br>
                              </div>
                              <div class=" col-md-12">
                                <div class=" col-md-2">
                                  <select formControlName="DepartmentName" [ngStyle]="{'background-color': searchForm.controls.DepartmentName.value ? 'gray' : 'white'}"
                                  class="form-control" data-title="Single Select" placeholder="Departments"
                                  data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                  <option value="" >All-Departments</option>
                                  <option *ngFor="let a of Departments" value={{a.dptName}} > {{a.dptName}} </option>
                                </select>
                                </div>
                                <div class="col-md-2">
                                  <select value="0"  formControlName="BranchName"   [ngStyle]="{'background-color': searchForm.controls.BranchName.value ? 'gray' : 'white'}"
                                    class="form-control" data-title="Single Select" 
                                    data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                    <option value="">All-Branchs</option>
                                    <option *ngFor="let a of Branchs" value={{a.brnName}} > {{a.brnName}} </option>
                                  </select>
                                </div>
                                <div class="col-md-2">
                                  <select value="0"  formControlName="CompanyName"  [ngStyle]="{'background-color': searchForm.controls.CompanyName.value ? 'gray' : 'white'}"
                                    class="form-control" data-title="Single Select" 
                                    data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                    <option value="">All-Companies</option>
                                    <option *ngFor="let a of Companys" value={{a.comName}} > {{a.comName}} </option>
                                  </select>
                                </div>
                     
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary pe-7s-search"  (click)="searchFilter(searchForm.value)"> Search </button> 
                                </div>
                                <div class=" col-md-2 marginsSearch ">
                                  <input #search id="search" type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" class="form-control" >       
                                </div>
                              </div>
                            </div>
                          </form>
                        <br><br>
  
                          <div id="print-section" class="row card col-md-12 " style="overflow-x:auto;"  >
                              <div class="content">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                              <!-- Table Headers -->
                                              <thead>
                                                    <tr>
                                                      <th> 
                                                        <div class=" form-check">
                                                          <label class=" form-check-label">
                                                            <input id="assetItemALL--" (change)="onSelectAll()" class=" form-check-input"  type="checkbox" value="" />
                                                            <span class=" form-check-sign">
                                                              <span class=" check"> </span>
                                                            </span>
                                                          </label>
                                                        </div>
                                                      </th>
                                                      <th>
                                                        #
                                                      </th>
                                                      <th>
                                                        Pic
                                                      </th>
                                                      <th>
                                                        Name / Dpt
                                                      </th>
                                                      <th>
                                                        Contacts
                                                      </th>
                                                      <th>
                                                        Emails
                                                      </th>
                                                      <th>
                                                       Company / Branch
                                                      </th>
                                                     
                                                    </tr>
                                              </thead>
                                              <!-- Table Body -->
                                              <tbody *ngIf="Employees.length == 0" ><tr  [ngStyle]="{'color': 'red'}" style="text-align:center;"> No Enties Found</tr></tbody>
                                              <tbody *ngIf="Employees.length > 0" >
                                                    <tr  *ngFor="let row of Employees | paginate: { itemsPerPage: pageSize, currentPage: pageIndex }; let i = index">
                                                      <td>
                                                        <div class="form-check">
                                                          <label class=" form-check-label">
                                                            <input id="assetItem--{{i}}" class=" form-check-input" (change)="onSelect($event, row)" [(ngModel)]="row.checkbox" [value]="row.checkbox" type="checkbox" value="" />
                                                            <span class=" form-check-sign">
                                                              <span class=" check"> </span>
                                                            </span>
                                                          </label>
                                                        </div>
                                                        <!-- <div *ngFor="let checkbox of checkboxes">
                                                          <input type="checkbox" [(ngModel)]="checkbox.checked" [value]="checkbox.value"><span>{{checkbox.name}}</span>
                                                      </div> -->
                              
                                                      </td>
                                                      <td>
                                                        {{ i+1 }}
                                                      </td>
                                                      <td>
                                                          <img [src]="row.EmpImg" width="100" class="img-rounded" >   
                                                      </td>
                                                      <td>
                        
                                                        - Name: {{ row?.empFullName }} <br>
                                                        <!-- - Title: {{ row?.Position }} <br> -->
                                                        - Dir Mng: {{ row?.DirectMngName}}
                                                      </td>

                                                      <td >
                                                        - Ext: {{ row?.empExt }} <br>
                                                        - Pri: {{ row?.empPri }}
                                                       
                                                        <ul >
                                                          <li >     {{ row?.empMobile0 }}  </li>
                                                          <li >     {{ row?.empMobile1 }}  </li>
                                                          <li >     {{ row?.empMobile2 }}  </li>
                                                        </ul>
                                                      </td>
                                                      <td >
                                                        <ul >
                                                          <li  *ngIf="row?.empIndividualEmail0 != null">     {{ row?.empIndividualEmail0 }}  </li>
                                                          <li  *ngIf="row?.empIndividualEmail1 != null">     {{ row?.empIndividualEmail1 }}  </li>
                                                          <li  *ngIf="row?.empIndividualEmail2 != null">     {{ row?.empIndividualEmail2 }}  </li>
                                                          <li  *ngIf="row?.empIndividualEmail3 != null">     {{ row?.empIndividualEmail3 }}  </li>
                                                        </ul>
                                                      </td>
                                                      <td>  
                                                        - {{ row?.DepartmentName }} <br> 
                                                        - {{ row?.BranchName }} <br>
                                                        - {{ row?.CompanyName }}  <br>
                                                           
                                                      </td>
     
                                                    </tr>
                                              </tbody>
                                    </table>
                              </div> 
                          </div> 
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-1">
                  <select class="col-md-1" id="PerPage" (change)="onChangeRowsPerPage($event)" class="form-control col-sm-1" >
                    <option value="5">#Rows</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
             
                    </select> 
                </div>
                <div class="col-md-3">
                  <pagination-controls (pageChange)="pageIndex = $event">    </pagination-controls>
                </div>
              </div>
    </div>
  
  </div>
