<div class="main-content">
    <div class="container-fluid">


                <h4 style="color:  red;">Unauthorised Access!</h4>
                <span>
                    <a routerLink="/users/login" routerLinkActive="active" class="pull-left">Login With Another Account</a>
                </span>
                <br>
                <span>
                    <a routerLink="/dashboard" routerLinkActive="active" class="pull-left">Go To Dashboard</a>
                </span>



    </div>
</div>
