<div class="main-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <ngx-alerts></ngx-alerts>
      <div class="container-fluid">
        <div class="row"   >
              <div class="card col-md-12">
                <form [formGroup]="OperatorForm" (ngSubmit)="onSubmit()">
                <!-- <div class="content"> -->
          
                        <div class="form-group col-md-12">
                              <legend>         
                                 Rate Paln ID: {{ getOperatorForm.OperatorRatePlanId.value }}
                              </legend>
                            <div class="row">
                              <div class=" col-md-3">
                                <label class="control-label" for="">Operators: <span class="star">*</span> </label>
                                <select formControlName="oprId"   value=""
                                class="form-control" data-title="Single Select" placeholder="Operators"
                                data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                <option *ngFor="let a of Operators" value={{a.oprId}} > {{a.oprName}} </option>
                                <small [hidden]="OperatorForm.controls.oprId.valid || OperatorForm.controls.oprId.pristine" class="text-danger">
                                  Operator is required.
                            </small>
                              </select>
                              </div>
                              <div class="form-group col-md-3">
                                <label class="control-label" for="">Plan Name: <span class="star">*</span> </label>
                                <input type="text" placeholder="Plan Name" formControlName="OperatorRatePlanName"  class="form-control" >
                                <small [hidden]="OperatorForm.controls.OperatorRatePlanName.valid || OperatorForm.controls.OperatorRatePlanName.pristine" class="text-danger">
                                      OperatorRatePaln Name is required.
                                </small>
                              </div>
<!--                
                              <div class="form-group col-md-3">
                                <label class="control-label" for="">OperatorRatePaln Code: <span class="star">*</span> </label>
                                <input type="text" placeholder="OperatorRatePaln Code" formControlName="OperatorCode"  class="form-control" >
                                <small [hidden]="OperatorForm.controls.OperatorCode.valid || OperatorForm.controls.OperatorCode.pristine" class="text-danger">
                                      OperatorRatePaln Name is required.
                                </small>
                              </div> -->
                            </div>
                            <div class="footer">
                        
                                    <button type="submit" class="btn btn-primary pe-7s-diskette" *ngIf="getOperatorForm.OperatorRatePlanId.value == null" [disabled]="OperatorForm.status == 'INVALID' "> Add </button> <!--  [disabled]="OperatorForm.status == 'INVALID' " -->
                                    <button type="submit" class="btn btn-primary pe-7s-diskette" *ngIf="getOperatorForm.OperatorRatePlanId.value != null" [disabled]="OperatorForm.status == 'INVALID' "> Save </button> <!--*ngIf="getOperatorForm.oprId.value > 0" [disabled]="OperatorForm.status == 'INVALID' "-->
                                    <button type="button" (click)="onCancel()" class="btn btn-primary pull-right" > Cancel </button>
                            </div>
                        </div>
          
                <!-- </div> -->
              </form>
        
              </div>
        </div>
        <div class="row" >
             <div class="card">
                    <div class="content">
                      <h4 class="title">Plans List</h4>
                    </div>
                      <div class="fresh-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <!-- Table Headers -->
                        <thead>
                              <tr>
                                <th >
                                  ID 
                                </th>
                                <th >
                                  OperatorRatePaln Name 
                                </th>
                                <th >
                                  Operator Name 
                                </th>
                                <th >
                                  Actions 
                                </th>
                              </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody  >
                              <tr  *ngFor="let row of Plans">
                                <td>{{ row?.OperatorRatePlanId }}</td>
                                <td>{{ row?.OperatorRatePlanName }}</td>
                                <td>{{ row?.OperatorName }}</td>
                                <td>
                                  <a (click)="onEditOperator(row)" class="btn btn-simple btn-warning btn-icon edit"><i class="fa fa-edit"></i></a>
                                  <a (click)="onDeleteOperator(row)" class="btn btn-simple btn-danger btn-icon remove "><i class="fa fa-times"></i></a> </td>
                              </tr>
                        </tbody>
                        </table>
                      </div>
              </div>
 
        </div>
      </div>
</div>
