
<div class="main-content">
  <ngx-alerts></ngx-alerts>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <div class="container-fluid" >
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">  
            <div class="row card col-md-12"  >
              <div class="content">
                <div class="row card col-md-12" style="background-color:  #f9f9f9;" >
                  <br>
                  <div class="col-md-12" >
                            <div class="col-md-6"  >
                                    <label  for="" class="control-label">From Supplier: <span *ngIf="getSupplierName.value" >  {{ getSupplierName.value | json }}   </span> 
                                      <span class="star">*</span> 
                                    </label>
                                    <ngx-autocomplete 
                                    required
                                    value="splName"
                                    id="splId--"
                                    formControlName="SupplierName"
                                    [searchKeyword]="'splName'" 
                                    [inputId]="'searchEmployee'"
                                    [placeholderValue]="'Enter Supplier'" 
                                    [entries]="Suppliers" 
                                    (selectedValue)="selectSupplierEvent($event)">
                                    </ngx-autocomplete>
                                    <small [hidden]="invoiceForm.controls.splId.valid || invoiceForm.controls.splId.pristine" class="text-danger">
                                      Supplier is required
                                    </small>
                            </div>
                            <div class="col-md-2">
                              <label class="control-label" for="">Invoice #:
                                <span class="star">*</span>
                            </label>
                            <input type="text" placeholder="Inv Number" required formControlName="invNumber" class="form-control"  >
                            <small [hidden]="invoiceForm.controls.invNumber.valid || invoiceForm.controls.invNumber.pristine" class="text-danger">
                              Inv number is required
                            </small>
                            </div>
                            <div class="col-md-2">
                                
                              <label class="control-label" for="">Amount:
                                <span class="star">*</span>
                            </label>
                            <input type="text" (blur)="formatCurrency_TaxableValue($event)" placeholder="Inv Amount" required formControlName="invAmount" class="form-control"  >
                            <small [hidden]="invoiceForm.controls.invAmount.valid || invoiceForm.controls.invAmount.pristine" class="text-danger">
                              Inv Amount is required
                            </small>
                            </div>
                            <div class="col-md-2">
                              
                              <label class="control-label" for="">Category:
                                <span class="star">*</span>
                            </label>
                            <select  required value="ItemsCategoryName"  formControlName="ItemsCategoryName" class="form-control" data-title="Single Select" data-style="btn-default btn-block" data-menu-style="dropdown-blue"  >
                              <option *ngFor="let ic of ItemsCategorys" value={{ic.icName}} >
                                  {{ic.icName}}
                              </option>

                            </select> 
                            <small [hidden]="invoiceForm.controls.icId.valid || invoiceForm.controls.icId.pristine" class="text-danger">
                              Inv category is required
                            </small>
                            </div>
                  </div>
                  <div class="col-md-12" >
                    <div class="col-md-6">
                      <label  for="" class="control-label">To Cost Center: <span *ngIf="invoiceForm.value.CostCenterName" >   {{ invoiceForm.value.CostCenterName | json }}      </span>
                        <span class="star">*</span>
                      </label>
                      <ngx-autocomplete  
                          #focusableCostCenter
                          required
  
                          formControlName="CostCenterName"
                          [searchKeyword]="'ccName'" 
                          [inputId]="'searchEmployee'"
                          [placeholderValue]="'Enter Cost Center'" 
                          [entries]="CostCenters" 
                          (selectedValue)="selectCostCenterEvent($event)">
                      </ngx-autocomplete>
                      <small [hidden]="invoiceForm.controls.CostCenterId.valid || invoiceForm.controls.CostCenterId.pristine" class="text-danger">
                        Cost Ceneter is required
                      </small>
                    </div>
                    <div class="col-md-2">
                      <label class="control-label" for="">   Paid :
                        <span class="star">*</span>
                    </label>
                    <select value="Paid" required  formControlName="invStatus"  class="form-control" data-title="Single Select" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                      <option value="Paid" selected >Paid</option>
                      <option value="UnPaid" >UnPaid</option>

                    </select> 
                    <small [hidden]="invoiceForm.controls.invStatus.valid || invoiceForm.controls.invStatus.pristine" class="text-danger">
                      Status is required
                    </small>
                    </div>
                      <!--  <span >   {{ invoiceForm.value.invDate | json }} </span> -->
                            <div class="col-md-4" >
                              <label class="control-label" for=""> Invoice Date:   
                                <span class="star">*</span>  
                            </label>
                            
                            <div class="form-group">
                              <input
                              #focusableInvDate
                              required
                           
                              formControlName="invDate"
                              class="form-control"
                              #datepickerYMD="bsDatepicker"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD HH:mm' }">
                            </div> 
                            <small [hidden]="invoiceForm.controls.invDate.valid || invoiceForm.controls.invDate.pristine" class="text-danger">
                             Inv Date is required
                            </small>
                            </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <label class="control-label" for=""> Upload Invoice:
                        <!-- <span class="star">*</span> -->
                        <span *ngIf="getInvFile.value == null" > No Attachment</span>
                        <span *ngIf="getInvFile.value != null" style="color: green;" >File Attached</span>
                      </label>
                      <input id="custom-input" type="file" formControlName="InvFile" (change)="fileChangeListener($event)"  class="form-control"  >  
                      <small [hidden]="invoiceForm.controls.InvFile.valid || invoiceForm.controls.InvFile.pristine" class="text-danger">
                        Upload Invoice please
                      </small>
                    </div>
                    <div class="col-md-6">
                            <label class="control-label" for=""> Remarks:

                            </label>
                            <input type="text" placeholder="Remarks" formControlName="Remarks" class="form-control" #focusableRemarks   >

                    </div>
                    <br><br> <br><br>
                  </div>
                </div>
                <div class="footer col-md-12">
                    <button type="submit"  class="btn btn-primary pe-7s-diskette"  *ngIf="getInvoiceForm.InvoiceId.value == null" [disabled]="invoiceForm.status == 'INVALID' "   > Add </button> 
                    <button type="submit"  class="btn btn-primary pe-7s-diskette"  *ngIf="getInvoiceForm.InvoiceId.value != null" [disabled]="invoiceForm.status == 'INVALID' "   > Save </button> 
                    <button type="button" (click)="onCancel()" class="btn btn-primary pull-right" > Cancel </button>
                </div>
                <div class="col-md-12">
              
                </div>
            </div>
          </div>
        </form>
<!-- <div>
  {{ invoiceForm.value | json }}
</div> -->
        <div class="row card col-md-12">
          <br>
          <h4 class="title">Invoices List</h4>  

         <!-- Toolbar -->
         <form novalidate [formGroup]="searchForm"> 
          <div class="card col-md-12 toolbarCard" >
            <div class=" col-md-12">
              <div class=" col-md-2" >
                <i class="pe-7s-refresh-2 toolbarIcon" (click)="onGetAllInvoices()" ></i>
                <i class="pe-7s-trash toolbarIcon" (click)="onDeleteAllSellected()" ></i>  
                <i class="pe-7s-print toolbarIcon"  printTitle="Invoices" printSectionId="print-section" ngxPrint ></i>     
                <i class="pe-7s-cloud-download toolbarIcon" (click)="onExportExcel()"></i>  
              
              </div>
              <div class=" col-md-2 marginsPaging">
                <a routerLink="/operation/reports" routerLinkActive="active" class="pull-left">Invoices Tables-Charts</a> 
              </div>
              <div class=" col-md-2">
                <select id="PerPage" (change)="onChangeRowsPerPage($event)" class="marginsDropdownList form-control" value="5">
                  <option value="5">Rows</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="9999">All</option>
                  </select> 
              </div>
              <div class=" col-md-2">
                From: {{FromDateString}}    <br>   To: {{ToDateString}} 
              </div>
              <div class=" col-md-4 marginsPaging" >
                <pagination-controls  (pageChange)="pageIndex = $event" > </pagination-controls>
              </div>
              <br>
            </div>
            <div class=" col-md-12">
              <div class=" col-md-2">
                <select   (change)="onSelectCategory($event)"  formControlName="ItemsCategoryName"   [ngStyle]="{'background-color': searchForm.controls.ItemsCategoryName.value ? 'gray' : 'white'}"
                class="form-control" data-title="Single Select" placeholder="Categories"
                data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                <option value="" >All-Categories</option>
                <option *ngFor="let a of ItemsCategorys" value={{a.icName}} > {{a.icName}} </option>
              </select>
              </div>
              <div class="col-md-2">

                <select value="0"  formControlName="CostCenterName"  [ngStyle]="{'background-color': searchForm.controls.CostCenterName.value ? 'gray' : 'white'}"
                  class="form-control" data-title="Single Select" 
                  data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                  <option value="">All-Cost Centers</option>
                  <option *ngFor="let a of CostCenters" value={{a.ccName}} > {{a.ccName}} </option>
                </select>
              </div>
              <div class="col-md-2">
                <select value=""  formControlName="SupplierName"   [ngStyle]="{'background-color': searchForm.controls.SupplierName.value ? 'gray' : 'white'}"
                  class="form-control" data-title="Single Select" 
                  data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                  <option value="">All-Suppliers</option>
                  <option *ngFor="let a of Suppliers" value={{a.splName}} > {{a.splName}} </option>
                </select>
              </div>
              <div class="col-md-2">
                    <title>Filter Dates </title>
                    <input 
      
                    (bsValueChange)="onFilterInvoicesByDate($event)"
                    type="text"
                    class="form-control"
                    #daterangepicker="bsDaterangepicker"
                    placeholder="Select Date Range"
                    bsDaterangepicker
                    [bsConfig]="{ rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a', showWeekNumbers: false }">
              </div> 
              <div class="col-md-2">
                  <button type="button" class="btn btn-primary pe-7s-search"  (click)="searchFilter(searchForm.value)"> Search </button> 
              </div>
              <div class=" col-md-2 marginsSearch ">
                <input #search id="search" type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" class="form-control" >       
              </div>
            </div>
          </div>
        </form>
         <br><br><br><br><br>
                  <div class="content"> 
                    <div id="print-section" >
                    <div class="fresh-datatables" style="overflow-x:auto;" >
                      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                            <tr>
                              <th> 
                                <div class=" form-check">
                                  <label class=" form-check-label">
                                    <input id="assetItemALL--" (change)="onSelectAll($event)" class=" form-check-input"  type="checkbox" value="" />
                                    <span class=" form-check-sign">
                                      <span class=" check"> </span>
                                    </span>
                                  </label>
                                </div>
                               </th>
                              <th >
                                #
                              </th> 
                              <th [class.active]="order === 'astCode'" (click)="setOrder('astCode')">
                                invNumber <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'astSerialNumber'" (click)="setOrder('astSerialNumber')" >
                                invAmount <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'astPartNumber'" (click)="setOrder('astPartNumber')">
                                invDate <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'astDialNumber'" (click)="setOrder('astDialNumber')" >
                                invStatus <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'astCircuitNumber'" (click)="setOrder('astCircuitNumber')" >
                                Remarks <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'ItemsCategoryName'" (click)="setOrder('ItemsCategoryName')">
                                Category <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'astPurchaseDate'" (click)="setOrder('astPurchaseDate')">
                                Supplier <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th [class.active]="order === 'asttypName'" (click)="setOrder('asttypName')">
                                CostCenter <span [hidden]="reverse">▼</span>
                                <span [hidden]="!reverse">▲</span>
                              </th>
                              <th>
                                Download 
                              </th>
                      
                              <th >
                                Actions 
                              </th>
        
                            </tr>
                      </thead>
                      <tbody>
                            <tr  *ngFor="let row of Invoices | orderBy: order:reverse:'case-insensitive' | paginate: { itemsPerPage: pageSize, currentPage: pageIndex }; let i = index">
                              <td>
                                <div class="form-check">
                                  <label class=" form-check-label">
                                    <input id="assetItem--{{i}}" class=" form-check-input" (change)="onSelect($event, row)" [(ngModel)]="row.checkbox" [value]="row.checkbox" type="checkbox" value="" />
                                    <span class=" form-check-sign">
                                      <span class=" check"> </span>
                                    </span>
                                  </label>
                                </div>
                              </td>
                              <td>{{ i+1 }}</td>
                              <td>{{ row?.invNumber }}</td>
                              <td>{{ row?.invAmount }}</td>
                              <td>{{ row?.invDate }}</td> 
                              <td >{{ row?.invStatus }}</td>
                              <td >{{ row?.Remarks }}</td>
                              <td>{{ row?.ItemsCategoryName }}</td>
                              <td>{{ row?.SupplierName }}</td>
                              <td>{{ row?.CostCenterName }}</td>
                              <td> 
                                <!-- *ngIf="IsInvFileExist(row?.InvFile)" *ngIf="!IsInvFileExist(row?.InvFile)" -->
                                <a  *ngIf="row.InvFileAttached"  (click)="download(row.InvoiceId, row?.invNumber, row?.SupplierName )" routerLink > Download </a>
                                <span *ngIf="!row.InvFileAttached"  > No File</span>
                              </td>
                              <td>
                                <a (click)="onEditInvoice(row)" class="btn btn-simple btn-warning btn-icon edit"><i class="fa fa-edit"></i></a>
                                <a (click)="onDeleteInvoice(row)" class="btn btn-simple btn-danger btn-icon remove "><i class="fa fa-times"></i></a> </td>
                            </tr>
                            <tr>
                              <td>
                                    <div  class="text-center" style="color: red; width: auto">
                                      <p *ngIf="Invoices.length === 0">
                                          No Entry found
                                      </p>
                                    </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                              </td>
                              <td>Total Amounts</td>
                              <td> = </td>
                              <td>{{ TotalInvoicesAmount }}</td>
                              <td></td> 
                              <td ></td>
                              <td ></td>
                              <td></td>
                              <td></td>
                              <td> </td>
                              <td>
                            </tr>
                      </tbody>
                      </table>
                    </div>
                   </div> 
                   <!-- endprintsection -->
                  </div>
            <div class="col-md-12">
              <div class="col-md-1">
                <select class="col-md-1" id="PerPage" (change)="onChangeRowsPerPage($event)" class="form-control col-sm-1" >
                  <option value="5">#Rows</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="9999">All</option>
                  </select> 
              </div>
              <div class="col-md-3">
                <pagination-controls (pageChange)="pageIndex = $event">    </pagination-controls>
              </div>
            </div>
        </div>


    </div>
</div>



