<div class="main-content">
    <ngx-alerts></ngx-alerts>
      <div class="container-fluid" >

              <div class="row card col-md-12"  >
                <div class="content">
                  <div class="row card col-md-12" style="background-color:  #f9f9f9;" >
                    <div class="row">
                      <div class="col-md-6">
                        <lbd-chart
                          [title]="'2021 Purchasing'"
                          [subtitle]="'All products including Taxes'"
                          [chartType]="activityChartType"
                          [chartData]="activityChartData"
                          [chartOptions]="activityChartOptions"
                          [chartResponsive]="activityChartResponsive"
                          [legendItems]="activityChartLegendItems"
                          [withHr]="true"
                          [footerIconClass]="'fa fa-check'"
                          [footerText]="'Data information certified'">
                        </lbd-chart>
                      </div>

                    </div>

                    <div class="row">
                        <button (click)="searchFilter()"> Load </button>
                    </div>
                </div>
            </div>

        </div> 
    </div>

