<div class="main-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    <ngx-alerts></ngx-alerts>
      <div class="container-fluid">
        <div class="row"   >
              <div class="card col-md-12">
                <form [formGroup]="departmetForm" (ngSubmit)="onSubmit()">
                <!-- <div class="content"> -->
          
                        <div class="form-group col-md-12">
                              <legend>         
                                Genaricemail ID: {{ getGenaricemailForm.genEmailId.value }}
                              </legend>
                              <div class="row card col-md-12">
                                  <div class="content">
                                    <div class="row card col-md-12" style="background-color:  #f9f9f9;">
                                            <div class="form-group col-md-3">
                                              <label class="control-label" for="">Generic Email Name: <span class="star">*</span> </label>
                                              <input type="text" placeholder="Genaricemail Name" formControlName="genEmailAddress"  class="form-control" >
                                              <small [hidden]="departmetForm.controls.genEmailAddress.valid || departmetForm.controls.genEmailAddress.pristine" class="text-danger">
                                                    Genaricemail Name is required.
                                              </small>
                                            </div>
                                            <div class="form-group col-md-3">
                                              <label class="control-label" for="">Excel File: </label>
                                              <input type="file" #fileInput />
                                            </div>
                                            <div class="form-group col-md-3">
                                              <label class="control-label" for=""> </label>
                                              <button class="btn btn-primary" (click)="uploadFile()">Upload Excel File</button>
                                            </div>
                                            <div class="form-group col-md-3">  
                                              <label class="control-label" for="">  </label>
                                                  <a href="#" (click)="download()">Download Sample File</a>    
                                            </div>

                                    </div>
                                  </div>
                              </div>

                            <div class="footer">
                        
                                    <button type="submit" class="btn btn-primary pe-7s-diskette" *ngIf="getGenaricemailForm.genEmailId.value == null" [disabled]="departmetForm.status == 'INVALID' "> Add </button> <!--  [disabled]="departmetForm.status == 'INVALID' " -->
                                    <button type="submit" class="btn btn-primary pe-7s-diskette" *ngIf="getGenaricemailForm.genEmailId.value != null" [disabled]="departmetForm.status == 'INVALID' "> Save </button> <!--*ngIf="getGenaricemailForm.genEmailId.value > 0" [disabled]="departmetForm.status == 'INVALID' "-->
                                    <button type="button" (click)="onCancel()" class="btn btn-primary pull-right" > Cancel </button>
                            </div>
                        </div>
          
                <!-- </div> -->
              </form>
        
              </div>
        </div>
        <div class="row" >
             <div class="card">
                    <div class="content">
                      <h4 class="title">Generic Emails List</h4>
                    </div>
                      <div class="fresh-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <!-- Table Headers -->
                        <thead>
                              <tr>
                                <th >
                                  ID 
                                </th>
                                <th >
                                  Genaricemail Name 
                                </th>
                                <th >
                                  Actions 
                                </th>
                              </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody  >
                              <tr  *ngFor="let row of Genaricemails">
                                <td>{{ row?.genEmailId }}</td>
                                <td>{{ row?.genEmailAddress }}</td>
                                <td>
                                  <a (click)="onEditGenaricemail(row)" class="btn btn-simple btn-warning btn-icon edit"><i class="fa fa-edit"></i></a>
                                  <a (click)="onDeleteGenaricemail(row)" class="btn btn-simple btn-danger btn-icon remove "><i class="fa fa-times"></i></a> </td>
                              </tr>
                        </tbody>
                        </table>
                      </div>
              </div>
 
        </div>
      </div>
</div>

