<div class="main-content">
    <div class="container-fluid backgroundGAC">
        <a routerLink="/users/login" routerLinkActive="active" style="color: green;" >Go to Login Page </a>
           
        <div class="backgroundGAC" >
            <div class="col-md-12">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Assets Management</h4>
                    </div>
                    <!-- <div [ngStyle]="{background-image: 'url(src\assets\img\full-screen-image-4.jpg)'}">
                        <img src="../../assets/img/GAC_BackGround.jpg">

                        <div [ngStyle]="{background: 'url( src\assets\img\full-screen-image-4.jpg)'}"></div>

                    </div> -->

<!-- 
                    <style type="text/css">
                        .bgimg {
                            background-image: url('src\assets\img\full-screen-image-4.jpg');
                        }
                        </style>
                        
                        ...
                        
                        <div class="bgimg">
                            div with background
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
